.bookingwindow {
  position: relative;
  width: 1274px;
  height: 1128px;
  background: #ffffff;
  border-radius: 84px;
  opacity:0.9;
}

.bookingHeader {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 120px;
}

.bookingHeader span{
  top: 7%;
  color: #9B9B9B;
  font-family: Effra;
  font-size: 44px;
  line-height: 53px;
  letter-spacing: 1.35px;
}