.bookingwindow {
  position: relative;
  width: 1274px;
  height: 1128px;
  background: #ffffff;
  border-radius: 84px;
  opacity:0.9;
}

.bookingHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}
