@font-face {
  font-family:'Effra';
  src: url('./fonts/Dalton Maag - Effra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family:'Effra Bold';
  src: url('./fonts/Dalton Maag - Effra Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family:'Effra Medium';
  src: url('./fonts/Dalton Maag - Effra Medium.ttf') format('truetype');
  font-weight: medium;
  font-style: normal;
}



@font-face {
  font-family:'SF UI Display Bold';
  src: url('./fonts/SF-UI-Display-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family:'SF UI Display Medium';
  src: url('./fonts/SF-UI-Display-Medium.otf') format('opentype');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family:'SF UI Display Semibold';
  src: url('./fonts/SF-UI-Display-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
