$blue: #3bbfce;

a {
    margin: 4px 8px;
    font-size: 1.2em;
    font-weight: bold;
    color: $blue;
    font-family: Effra;
    text-decoration: none;

}

.topmenu {
    width:100%;
    border-bottom: 1px solid grey;
    margin: 0;
}