.tutorpage {
  position: relative;
  width: 80%;
  height: 70%;
  top: 7%;
  margin-left: auto;
  margin-right: auto;
  background: #eeeeee;
}

.tutorialbutton_text {
  font-family: Effra Medium;
  font-size: 34px;
  color: #ffffff;
}