.tutorpage {
  position: relative;
  width: 80%;
  height: 40%;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
  background: #eeeeee;
}

.tutorpage ul{
  list-style: none;
}

.tutorpage ul li{
  font-family: Effra;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: -0.15px;
  text-align: center;
}

.tutorpage ul li:last-child{
  font-family: Effra Bold;
}

.tutorialbutton_text {
  font-family: Effra Medium;
  font-size: 34px;
  color: #ffffff;
}

